@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    justify-content: space-between;
    text-decoration:none;
}

.navbar{
    background:linear-gradient(rgba(255, 8, 0, 0.699) 30% 50%, rgb(255, 81, 0)90%  60%,rgba(235, 252, 5, 0.822)20% 50%);
    height:10%;
    width:100%;
    margin-top:5px;
    margin-bottom:80vh;
}
.navbar ul{
    margin: auto;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
list-style-type:none;
color: white;
 text-decoration:none;
 padding:10px;
 transition:1.5s;
 cursor: pointer;
 display:flex;
 font-family: 'Noto Serif';
}
.navbar ul li a img{
    height:50px;
    position:relative;
}


.navbar ul li a:hover{
    background-color: rgba(153, 147, 147, 0.884);
    transition:1s;
    border-radius:10px;
    color:oldlace;
    stroke: none;
}
.navrightsite {
    float:right;
    text-align: center;
    padding-top:10px;
    margin:10px 0 5px 40px;
}
html{
	height:100%;
}
body{
	display: flex;
	flex-direction: column;
	min-height:100%;
}

@media(max-width:320px){
.navbar ul li a{
	padding:5px;
	font-size:smaller;
	margin-left:none;
}
#active{
	top:50vh;
}
#group{
	width:25vh;
}

#button{
 width:25vh;
}

}

@media(max-width:580px){
	#active{
		top:50vh;
	}
	#group{
		width:100%;
	}
	
	#button{
	 width:100%;
	}
	
	}



/*Footer Site Style*/
footer {
    border-top: 1px solid rgb(113, 133, 4);
    padding:20px 10px;
    background:linear-gradient(red 10%, orange 20% 30%, yellow 60% 70%, green 90% 100%);
    margin-bottom:0%;
    margin-top:0%;
	margin-top: auto;
    

}

footer p {
    margin-bottom: 0px;
    color: rgb(19, 15, 15);
}

footer p a {
    color: rgb(19, 13, 13);
}

footer a:hover {
    color: #FFF;
}
/*Form Style */

:root {

	--grey: #F4F2FF;
	--dark-grey: #B7B7B7;

	--green: #23AE00;
	--light-green: #BDFFAC;

	--red: #FE2727;
	--light-red: #FFD2D2;

	--blue: #277FFE;
	--light-blue: #B6C6FF;
	--dark-blue: #1368E3;

	--bs: #AECFFF;
	--text: #9B9B9B;
}

.container {
	max-width: 500px;
	width: 100%;
	position: absolute;
}
form {
	width:100%;
	padding: 28px;
	border-radius: 12px;
	background: rgb(255, 255, 255);
	position:absolute;
	top: 50%;
	transform: translateY(-50%) scale(.8);
	opacity: 0;
	z-index: 100;
	transition: all .3s ease;
	transition-delay: 0s;
    margin-left:2%;
}
form.active {
	transform: translateY(-50%);
	opacity: 1;
	z-index: 200;
	transition-delay: .3s;
}
.title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.form-group {
	margin-bottom: 14px;
}
.form-group label {
	display: inline-block;
	margin-bottom: 4px;
}
.input-group {
	width:50%;
	position:relative;
}
.input-group input {
	padding: 12px 40px 12px 20px;
	outline: none;
	border-radius: 6px;
	border: 1px solid var(--dark-grey);
	width: 100%;
	transition: all .3s ease;
}

/* Validation */
.input-group input:focus,
.input-group input:not(:placeholder-shown) {
	border-color: var(--blue);
	background: var(--grey);
}
.input-group input:focus + i,
.input-group input:not(:placeholder-shown) + i {
	color: var(--blue);
}
.input-group input:focus:valid {
	box-shadow: 0 0 0 4px var(--light-green);
}
.input-group input:valid:not(:placeholder-shown) {
	border-color: var(--green);
}
.input-group input:valid:not(:placeholder-shown) + i {
	color: var(--green);
}
.input-group input:invalid:not(:placeholder-shown) {
	border-color: var(--red);
}
.input-group input:invalid:not(:placeholder-shown) + i {
	color: var(--red);
}
.input-group input:focus:invalid {
	box-shadow: 0 0 0 4px var(--light-red);
}
.input-group input:focus,
.input-group input:focus:placeholder-shown {
	box-shadow: 0 0 0 4px var(--bs);
}
/* Validation */

.input-group i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	color: var(--text);
	pointer-events: none;
	transition: all .3s ease;
}
.form-group .help-text {
	font-size: 12px;
	color: var(--text);
}
.btn-submit {
	padding: 12px 0;
	display: block;
	width:50%;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
	font-weight: 500;
	background: var(--blue);
	margin-bottom: 20px;
}
.btn-submit:hover {
	background: var(--dark-blue);
}

.spanregister{
    color:#ffffff;
    margin-left:2rem;
    font-size:medium;
    background:linear-gradient(#5e9943 10% 20%, orange 10% 40% , rgb(211, 6, 6) 50%);
    transition: all 1.5s;
    padding:9px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-weight: 800;
    font-style: unset;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.spanregister::before{
    color: #277FFE;
}
.spanregister::after{
    color: #FE2727;
}
.spanregister:hover{
    color: #d37319b6;
  background-color: #1368E3;
}

